{% extends 'shared/layout/email/email_with_image.html.twig' %}

{% block content %}
    <div class="content_login">
        <div class="line">
            <div class="margin-bottom">
                <div class="margin">
                    <article class="s-12 l-8">
                        <h2>Demande de contact !</h2>
                        <p class="subtitile_presentation">Demande de contact d'un utilisateur.</p>
                        <p class="margin-bottom-home">Email: {{ data.email }}</p>
                        <p class="margin-bottom-home">Demande: {{ data.type }}</p>
                        <p class="margin-bottom-home">Objet: {{ data.subject }}</p>
                        <p class="margin-bottom-home">Message: {{ data.message }}</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
