{% extends 'shared/layout/email/email_with_image.html.twig' %}

{% block content %}
    <div class="content_login">
        <div class="line">
            <div class="margin-bottom">
                <div class="margin">
                    <article class="s-12 l-8 center">
                        <h2>Nouveau message !</h2>
                        <p class="subtitile_presentation">Louez facilement votre appartement sur le site.</p>
                        <p class="margin-bottom-home">Votre annonce "{{ appartment.title }}" sur "{{ appartment.city.name }}" possède un nouveau message.</p>
                        <p class="margin-bottom-home">Le message est envoyé par: {{ sender }}</p>
                        <a href="{{ app.request.getSchemeAndHttpHost() ~  path('app_dashboard') }}"><button class="btn btn-primary btn_result">Mon compte</button></a>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
