{% extends 'shared/layout/email/email_with_image.html.twig' %}

{% block content %}
    <div class="content_login">
        <div class="line">
            <div class="margin-bottom">
                <div class="margin">
                    <article class="s-12 l-8 center">
                        <h2>Mot de passe oublié !</h2>
                        <p class="subtitile_presentation">Procédure de changement de mot de passe.</p>
                        <p class="margin-bottom-home">Pour changer votre mot de passe veuillez suivre la procèdure suivante en cliquant sur le lien suivant:</p>
                        <a href={{ data }}><button type="submit" class="btn btn-primary btn_result">Changer le mot de passe</button></a>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}