{% extends 'shared/layout/base_with_image.html.twig' %}

{% block title %}Loc'Appart - Information{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('build/information.css') }}">
{% endblock %}

{% block content %}
    <article class="s-12 l-18 center base_article">
        <h2>Qui sommes nous ?</h2>
        <p class="subtitile_presentation">Une présentation du site</p>

        <div class="a-propos">
            <div class="line">
                <div class="margin">
                    <div class="s-12 l-4">
                        <h2 class="title_a-propos">Information</h2>
                        <address>
                            <p><i class="icon-home icon"></i> Clermont-Ferrand - 63000</p>
                            <p><i class="icon-globe_black icon"></i> Auvergne / France</p>
                            <p><i class="icon-mail icon"></i> dev@location.fr</p>
                        </address>
                    </div>
                    <div class="s-12 l-8 first_content_propos">
                        <h2 class="title_a-propos">Détail sur le site</h2>
                        <p class="detail">Ce site crée en 2017 permet de mettre en relation des particuliers souhaitant louer un appartement et le propriétaire de l'appartement. Sur le site est actuellement référencé 206 appartements en région Rhône-Alpes, Auvergne et toutes les régions possédant des stations de ski. Vous pouvez facilement vous inscrire sur le site pour pouvoir poster une annonce. Chaque appartement possède une fiche complète: une description détaillée, de nombreuse photos, les dates de disponibilités de l'appartement, si il possède un garage/casiers de ski, la distance des remontées. Il est possible de contacter le propriétaire en passant par un formulaire de contact directement présent sur la fiche du bien et ceux sans s'inscrire.</p>

                        <p class="detail">Chaque appartement est validé par un administrateur avant la mise en ligne sur le site. L'aspect ergonomique du site permet de gérer et de rechercher facilement un bien. Commencer la recherche en cliquant sur le bouton.</p>
                    </div><br/>
                    <div class="s-12 l-12 second_content_propos">
                        <h2 class="title_a-propos">Information complémentaire</h2>
                        <p class="detail">Ce site repose principalement sur la communauté qui enrichit peu à peu les appartements présents et ajoute toutes les informations. Pour toutes demande complémentaire n'hésiter pas à passer par le formulaire de contact, un administrateur répondra à votre question sous un délais de 48h. Un site complet s'offre à vous et repose sur 2 principes:</p>
                        <ul class="list_propos">
                            <li class="detail">La recherche du bien: Rechercher facilement un bien grâce à un formulaire complet présent sur le site. Vous avez la possibilité de gérer votre recherche par mot clef, ou des critére spécifique comme la localisation, le superficie, le prix et bien d'autre...</li>
                            <li class="detail">Le contact: Un formulaire de contact est directement présent sur la fiche de l'appartement, vous pouvez alors contacter facilement le propriétaire sans vous obliger à vous inscrire sur le site</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}