<div class="footer_info">
    <div class="line">
        <div class="s-12 l-4 box_footer">
            <h1 class="h1_footer">Les News</h1>
            <p class="content_footer">Aucune News pour le moment</p>
        </div>
        <div class="s-12 l-4 box_footer">
            <h1 class="h1_footer">Les Coordonnée</h1>
            <p class="content_footer">Florent Damiens</p>
            <p class="content_footer">63000 - Clermont-Ferrand</p>
            <p class="content_footer">France</p>
        </div>
        <div class="s-12 l-4 box_footer">
            <h1 class="h1_footer">Infos Pratiques</h1>
            <p class="content_footer">Contact</p>
            <p class="content_footer">Infos</p>
            <p class="content_footer">Autres</p>

        </div>
    </div>
</div>
<div class="footer_lines">
    <div class="line">
        <div class="s-12 l-6">
            <p>Copyright 2017, Florent Damiens - LocationAppartment
            </p>
        </div>
    </div>
</div>
