<div class="gestion-body custom_height">
    <div class="alert alert-info" role="alert">
        Le tableau ci-dessous vous permet de controler entierement les tarifs et les disponibilités de votre bien semaine après semaine tous au long de la saison d'hiver. Toutes ces informations seront disponible sur la fiche de l'annonce sous forme de tableau.<br><br>
        Revenez souvent sur cette page pour mettre réguliérement à jours les informations.
    </div>

    <div class="item active table-responsive ">
        <table class="table custom_table_prix">
            <thead>
            <tr class="header" id="appartment_prices" data-prototype="{{ include('appartment/elements/form/prototype/price.html.twig', { 'form': form.prices.vars.prototype, 'idx':'__name__' }) | e('html_attr') }}" >
                <td class="no-border"><button type="button" class="btn btn-primary" id="add_price">Ajouter une période</button></td>
                <td><strong>Date début</strong></td>
                <td><strong>Date fin</strong></td>
                <td><strong>Prix</strong></td>
                <td><strong>Disponibilité</strong></td>
                <td><strong>Action</strong></td>
            </tr>
            </thead>
            <tbody>
            {% for idx, price in form.prices %}
                <tr id="tr_price_{{ idx }}">
                    {{ include('appartment/elements/form/prototype/price.html.twig', { 'form': price, 'idx': idx }) }}
                </tr>
            {% endfor %}
            <tr id="empty_row">
                <td colspan="6">Aucune période trouvée !</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>