<div class="s-12 l-12 fiche_app_header contact">
    <h2 class="title_fiche title_localisation">Contacter le proprietaire</h2>
</div>
<div class="s-12 l-12 fiche_app_body contact_body">
    <form method="POST" class="form-horizontal">
        <input type="text" class="form-control" placeholder="Email"><span
                class="add-on input-group-addon span_form"><i class="fa fa-envelope-o"
                                                              aria-hidden="true"></i></span>
        <input type="text" class="form-control" placeholder="Objet"><span
                class="add-on input-group-addon span_form"><i class="fa fa-comment-o"
                                                              aria-hidden="true"></i></span>
        <input type="tel" class="form-control" placeholder="Téléphone"><span
                class="add-on input-group-addon span_form"><i class="fa fa-phone"
                                                              aria-hidden="true"></i></span>
        <textarea style="resize: vertical;" class="form-control custom_area custom_input"
                  rows="3" placeholder="Message"></textarea>
        <button type="submit" class="btn btn-primary btn_result" style="width: 100%;">
            Envoyer
        </button>
    </form>
</div>