body{
  width: 55%;
  margin: auto;
}

section{
  background-color: #f5f7fa;
}

.carousel-text{
  top: 40px;
}

.header{
  width:50%;
  font-size: 1vw;
}

.btn_result{
  width: 50%;
}

.footer{
  text-align: center;
}

.image-header{
  background-image: url('/ressources/images/static/background-blue.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50%;
}