.table_nth{
    border: none;
    background-color: white;
}

.table_nth td{
    border: none;
    border-top: none !important;
    background-color: white;
    padding-top: 0px !important;
}

.form-horizontal .btn_fiche {
    width: 100%;
}

.content_fichePage{
    padding-top: 1.5em;
}

form .tooltip{
    z-index: 1000;
}

.separator_fiche{
    font-weight: bold;
}

.app_header_title{
    text-align: left;
    font-size: 1.3em;
    text-transform: none;
    float: left;
}

.app_price{
    float: right;
}

.app_price strong{
    font-weight: 700;
    font-size: 1.3em;
    color: #008caf;
}

.app_body_content{
    padding-top: 20px;
    border-top: 1px solid #c8c8c8;
}

.title_fiche{
    margin-top: 0px;
    text-align: left;
    font-size: 1.5em;
    text-transform: none;
    margin-bottom: 15px;
    clear: both;
    color: #008caf;
}

.localisation, .price{
    padding-left: 25px !important;
    padding-bottom: 0 !important;
}

.price-inner{
    width: 83%;
    float: left;
    min-height: 270px;
    background-color: transparent !important;
    padding-bottom: 20px !important;
}

section.search {
    margin-bottom: 10px;
}

.btn-result {
    width: 100%;
}

.custom_padding{
    padding-top: 10px;
}

.content_resultPage {
    padding-top: 1.5em;
}

#no-more-tables > tbody > tr > td {
    text-align: center;
}

.carousel-control {
    text-shadow: none;
}

.carousel-inner>.item>img{
    margin: auto;
    max-height: 400px;
}

.carousel-indicators li img{
    max-height: 75px;
}

.title_localisation{
    margin-bottom: 0px !important;
    color: white;
}

.contact{
    background-image: linear-gradient(to right, #008CAF 0%, #2e6da4 100%) !important;
    color: white !important;
    padding: 15px 20px !important;
}

.carousel-inner{
    background-color: #f5f7fa;
}

html, body, #map, .map-container {
    height: 300px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px !important;
}

#map{
    position: relative;
    overflow: hidden;
    float: right;
    width: 100%;
}

.table tr{
    background: transparent !important;
}

.table_color{
    background: none repeat scroll 0 0 #f5f7fa;
}

.main_loca, .main_prix{
    margin-top: 40px;
}


.fiche_app_body{
    padding: 20px 25px;
    border-top: none;
    background-color: white;
    padding-top: 25px;
}

.fiche_app_header{
    padding: 20px 0px;
    border-bottom: none;
}

.item_other{
    float: left;
}

.app_btn_detail{
    float: right;
}

.app_btn_detail button{
    width: 100%;
}

.section_fiche_app{
    margin-bottom: 40px;
    padding: 0px !important;
    border-radius: 5px;
}

.contact_body{
    padding-top: 20px;
}


.app_header_title{
    font-size: 1.7em !important;
    margin-bottom: 5px;
    font-weight: 400;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    left: 20% !important;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
    right: 20% !important;
}
.contact_right{
    width: 28%;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 7px 0px;
}
.main_description, .main_loca, .main_prix{
    width: 70.1%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 7px 0px;
}
.span_form{
    position: relative !important;
    width: auto !important;
    float: right !important;
    top: -30px !important;
    background-color: white !important;
    border: none !important;
    margin-right: 1px !important;
    outline-style: none !important;
}
.btn_result{
    margin-top: 25px;
}

.container_prix{
    float: left;
    margin-right: 17px;
}
.carousel-indicators-custom{
    bottom: -15px !important;
}

.carousel-indicators-custom .active {
    background-color: rgba(0, 0, 0, 0.9) !important;
    width: 12px !important;
    height: 12px !important;
}
.carousel-indicators-custom li {
    background-color: rgba(0, 0, 0, 0.5) !important;
    width: 12px !important;
    height: 12px !important;
    margin: 0px !important;
}

.legende{
    float: right;
    padding: 0;
}

.disponible{
    background-color: #2cac62 !important;
    color: white;
}

.indisponible{
    background-color: #f88c8c !important;
    color: white;
}

.day{
    padding: 5px;
}

.legende-label-dispo:before{
    background-color: #2cac62 !important;
}

.calendar-day-np{
    padding: 0px !important;
}

/* calendar */
table.calendar    {}
tr.calendar-row {  }
td.calendar-day { min-height:80px; font-size:11px; position:relative;     } * html div.calendar-day { height:80px; }
td.calendar-day-np  { background: #008caf; color:white;}
td.calendar-day-np  { background:white; min-height:80px; text-align: center; color: #008caf;} * html div.calendar-day-np { height:80px; }
td.calendar-day-head { background:#008caf; font-weight:bold; text-align:center; width:40px; padding:5px; border-bottom:1px solid #008caf; color:white;}
td.calendar-day-np:last-child { border-right:1px solid #008caf;}
td.calendar-day-head:last-child { border-right:1px solid #008caf;}
td.calendar-month-head:last-child { border-right:1px solid #008caf;}
td.calendar-month-head { background:#008caf; font-weight:bold; text-align:center; width:40px; padding:5px; border-top:1px solid #008caf; color:white;}
div.day-number    { background:#008caf; padding:5px; color:white; font-weight:bold; float:right; margin:-5px -5px 0 0; width:20px; text-align:center; }
/* shared */
td.calendar-day, td.calendar-day-np { width:40px; padding:5px;  position: relative; border-right: none !important;}
.blurb{
    width: 130px;
    height: 70px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 100;
    top: -75px;
    left: -43px;}

.blurb::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.legende-label::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #d8dde1;
}

.legende-label-reserve::before {
    background: #f88c8c;
}

.legende-label {
    margin-bottom: 10px;
    font-size: 0.85em;
}

#mobi_carousel{
    display: none;
}
.legende > li{
    list-style-type:none;
    text-align: left;
    margin-bottom: 15px;
}

.legende-label-dispo::before {
    background: white;
}
.legende-label::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #d8dde1;
}
.margin_bottom{
    margin-bottom: 10px;
}

.item-summary{
    padding-left: 0;
}

.item-summary li{
    display: inline-block;
    font-size: 15px;
    color: white;
    font-weight: normal;
    background-color: #008caf;
    padding: 6px 10px;
    margin: 2px 6px 0 0;
    border-radius: 5px;
}

.section_fiche_app:hover{
    -webkit-box-shadow: 0px 0px 3px 2px #c8c8cc;
    -moz-box-shadow: 0px 0px 3px 2px #c8c8cc;
    box-shadow: 0px 0px 3px 2px #c8c8cc;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.item-summary strong{
    font-weight: 700;
    color: #008caf;;
    display: block;
    font-size: 1.7em;
}

.item_description{
    text-align: justify;
    margin-bottom: 30px;
    font-size: 0.95em;
    white-space: pre-line;
}

.app_ref{
    text-align: left;
    clear: both;
    margin-bottom: 0px;
}

.wvu-breadcrumbs {
    font-size: .85em;
    color: #999;
    line-height: 1.5;
    padding-left: 0 !important;
    margin-top: 10px;
    margin-left: 18px;
    margin-bottom: 0px;
}

.wvu-breadcrumbs li:first-child:before {
    content: "";
    padding-right: 0;
}

.wvu-breadcrumbs li:before {
    content: "/";
    padding-right: 4px;
    font-weight: bold;
}

.fiche_app_header{
    background-color: white;
}

.wvu-breadcrumbs li {
    display: inline;
    list-style-type: none;
    margin-left: 0;
}

.table-responsive{
    overflow-x: visible !important;
}

.prix_right{
    margin-left: 10px;
}

.prix_left{
    margin-right: 10px;
}

.fiche_concatenation{
    color: #999;
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 0.9em;
}

.content_fichePageAppart{
    text-align: center;
    padding-bottom: 1.5em;
    background-color: #f5f7fa;
}

.custom_div {
    border-top: 1px solid #C8C8C8;
    padding-top: 1.5em !important;
}

.accommodations {
    overflow: hidden;
    padding-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-bottom: 40px;
}

.accommodations .accommodation {
    float: left;
    white-space: nowrap;
    padding: 0;
    margin-right: 3px;
    font-size: 0.95em;
    font-weight: bold;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.accommodations .accommodation:after {
    content: '\2022';
    margin-left: 0;
    font-weight: 100;
    font-size: 10px;
    vertical-align: middle;
}

.accommodations .accommodation:last-child:after {
    content: '';
}

.label-primary {
    background-color: #008caf;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}

.img_nb{
    z-index: 10;
    margin-right: 5px;
    background: rgba(35, 76, 111, 0.8);
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

.carousel-indicators-first {
    width: 70% !important;
    text-align: left !important;
    left: 30% !important;
}

.carousel-indicators-first li{
    width: 20% !important;
    height: auto !important;
    position: relative !important;
    bottom: -120px !important;
    margin-right: 10px !important;
}

.carousel-indicators .active img{
    background-color: transparent !important;
    border-radius: 0px;
}

.carousel-control > span{
    background-color: white;
    border-radius: 15px;
}

.carousel-control.left{
    background-image: none !important;
    -webkit-text-stroke: 3px white !important;
}

.carousel-control.left:hover .glyphicon-chevron-left{
    display: block !important;
}

.margin_top{
    margin-top: 20px;
}

.carousel-control.right:hover .glyphicon-chevron-right{
    display: block !important;

}

.carousel-control.right{
    background-image: none !important;
    -webkit-text-stroke: 3px white !important;
}

.glyphicon-chevron-left{
    color: #008caf !important;
    display: none !important;

    margin-top: -20px !important;
    font-size: 25px !important;
}

.glyphicon-chevron-right{
    color: #008caf !important;
    display: none !important;

    margin-top: -20px !important;
    font-size: 25px !important;
}

.carousel-caption {
    bottom: -5px !important;
}

.pagination_nav{
    position: inherit;
}

.pagination{
    margin: 0 !important;
}

.previous_page{
    margin-right: 10px;
}

.next_page{
    margin-left: 10px !important;
}

.pagination>.active>a{
    background-color: #008caf !important;
    border-color: #008caf !important;
    color: #fff !important;
}

.pagination>li>a{
    color: #005ea8 !important;
}

.label-primary {
    background-color: #008caf !important;
}

.first_table, .second_table{
    margin-bottom: 0px !important;
}

.second_table{
    width: 78% !important;
}

@media only screen and (max-width: 800px) {

    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
        border: none;
    }

    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables td {
        border: none;
        position: relative;
        white-space: normal;
        text-align:left;
        height: 70px;
    }

    #no-more-tables td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
        border: none;
    }

    #no-more-tables td:before { content: attr(data-title); }

    .custom_select{
        width: 100% !important;
    }

    .custom_slider{
        width: 85% !important;
    }

    .ref_mobi{
        display: none !important;
    }

    .prix_right{
        margin: 0;
    }

    .prix_left{
        margin: 0;
    }

    .table-responsive{
        border: none !important;
    }

    .img_nb{
        display: none;
    }

    .carousel-inner>.active>img{
        margin: auto;
    }

    .carousel-caption{
        display: none !important;
    }
}

/* tablette */
@media only screen and (max-width: 995px) {

    .list-unstyled{
        margin-bottom: 20px;
    }

    .item_description{
        margin-bottom: 15px;
    }

    .carousel-caption{
        display: none !important;
    }
}

/* portable */
@media only screen and (max-width: 600px) {
    .custom_slider{
        width: 60% !important;
    }

    .prix_right{
        margin: 0;
    }

    .prix_left{
        margin: 0;
    }

    .table-responsive{
        border: none !important;
    }

    .img_nb{
        display: none;
    }

    .carousel-inner>.active>img{
        margin: auto;
    }

    .pagination_nav{
        background: none;
    }

    .pagination_text {
        display: none;
    }

    .fiche_app_header>.label-primary{
        margin-left: 0px;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 1070px) {
    .main_description, .contact_right, .main_loca, .main_prix{
        width: 100% !important;
    }

    .contact_right{
        margin-left: 0px !important;
        margin-top: 40px !important;
    }

    hr{
        display: none;
    }

    .app_body_content{
        margin-top: 10px;
    }

    #mobi_carousel{
        display: block;
    }

    #desktop_carousel{
        display: none;
    }

    .carousel-indicators-first{
        display: none;
    }

    .option{
        display: none !important;
    }
}

@media only screen and (max-width: 784px) {
    .legende{
        display: none !important;
    }

    .price-inner{
        width: 100%;
        float: none;
    }

    .margin_bottom{
        clear: both !important;
        padding-top: 10px;
    }

    .carousel-inner>.item>img {
        max-height: 200px;
    }

    .department{
        width: 100% !important;
    }

    .city{
        width: 100% !important;
    }
}

@media only screen and (max-width: 654px) {
    .container_prix{
        float: none !important;
        padding-bottom: 20px !important;
        width: 70% !important;
        margin: auto !important;
    }

    .carousel-indicators-first{
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .container_prix{
        width: 100% !important;
    }

    .carousel-indicators-first{
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .app_price{
        display: none;
    }

    .label{
        display: none !important;
    }

    .app_ref{
        padding-top: 5px;
    }
}