.title_a-propos{
  font-size: 1.6em;
  margin-bottom: 20px;
  text-align: center;
}

.second_content_propos{
  margin-top: 30px;
}

.list_propos{
  font-size: 0.95em;
}

.propos{
  padding: 3em;
}

.title-mentions {
  font-size: 1.6em;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}

.mentions > p{
  text-align: left;
}

.attention{
  color: #fe0000;
}

.detail{
  text-align: justify;
}

#third-block{
  padding: 0;
}

.title-news{
  font-size: 1.6em;
  text-align: left;
  margin-bottom: 20px;
}

.text-news{
  text-align: left;
  margin-bottom: 20px;
}