.btn-primary{
  width: 30% !important;
  min-height: 30px;
}

.info{
  clear: both;
  position: relative;
  top: -20px;
}

.forgotten{
  float: right;
}

.remember{
  float: left;
}

button:hover.spinner:before{
  border-top: 2px solid white;
}
