<form class="form-horizontal" method="POST" action="search.php">
    <div class="table-responsive">
        <table id="no-more-tables" class="table table_nth first_table">
            <tr>
                <td>
                    <table class="table table_nth">
                        <tr>
                            <td><input id="desc" type="text" class="form-control" placeholder="Description"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table table_nth">
                        <tr>
                            <td><div style="text-align: center;">
                                    <select class="selectpicker" data-size="5" data-live-search="true" title="Station">
                                        <option data-tokens="Les Arcs">Les Arcs</option>
                                        <option data-tokens="La Rosière">La Rosière</option>
                                        <option data-tokens="Tignes">Tignes</option>
                                        <option data-tokens="Les Arcs">Les Arcs</option>
                                        <option data-tokens="La Rosière">La Rosière</option>
                                        <option data-tokens="Tignes">Tignes</option>
                                        <option data-tokens="Les Arcs">Les Arcs</option>
                                        <option data-tokens="La Rosière">La Rosière</option>
                                        <option data-tokens="Tignes">Tignes</option>
                                        <option data-tokens="Les Arcs">Les Arcs</option>
                                        <option data-tokens="La Rosière">La Rosière</option>
                                        <option data-tokens="Tignes">Tignes</option>
                                        <option data-tokens="Les Arcs">Les Arcs</option>
                                        <option data-tokens="La Rosière">La Rosière</option>
                                        <option data-tokens="Tignes">Tignes</option>
                                    </select>
                                </div></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table table_nth">
                        <tr>
                            <td><div>
                                    <select class="selectpicker" multiple data-max-options="2" title="Type de biens">
                                        <option>Appartement</option>
                                        <option>Chalet</option>
                                        <option>Résidence</option>
                                    </select>
                                </div></td>
                        </tr>
                    </table>
                </td>

                <td style="height: auto;">
                    <button type="submit" class="btn btn-primary btn_result" style="width: 100%;">Rechercher</button>
                </td>
            </tr>

        </table>

    </div>
</form>