{% extends 'Shared/layout/base_with_image.html.twig' %}

{% block title %}Loc'Appart - News{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('build/information.css') }}">
{% endblock %}

{% block content %}
    <article class="s-12 l-18 center base_article">
        <h2>Les News du site</h2>
        <p class="subtitile_presentation">Les dernières news du site !</p>

        {% for new in news %}
            <h2 class="title-news">{{ new.title }} ({{ new.created | date('d/m/Y') }})</h2>
            <p class="text-news">{{ new.description }}</p>
        {% endfor %}
    </article>
{% endblock %}