body{
	background: white !important;
}

.table_nth td{
	background-color: white !important;
}

#third-block{
	background-color: white !important;
}
.content_resultPageAppart{
	background-color: #f5f7fa !important;
}

.result_app_body{
	background-color: white !important;
}

.result_app_header{
	background-color: white !important;
}

.slider-track{
	border: 1px solid rgb(204, 204, 204) !important;
}

.slider-selection{
	top: -1px !important;
	height: 10px !important;
}

.content_searchPage{
	background-color: #f5f7fa !important;
}

.content_contactPage{
	background-color: #f5f7fa !important;
}

.content_login{
	background-color: #f5f7fa !important;
}