{% extends 'shared/layout/base_with_image.html.twig' %}

{% block title %}Loc'Appart - Contact{% endblock %}

{% block content %}
    <article class="s-12 l-8 center">
        <h2>Erreur {{ status_code }} dectecté</h2>
        <p class="subtitile_presentation">{{ status_text }}</p>

        <p class="margin-bottom-home">Une erreur {{ status_code }} a été detecté sur le site. La page que vous souhaitez consulter nécessite un accès spécifique. Connectez vous avec un autre compte.</p>

        <a href="{{ path('home') }}"><button class="btn btn-primary btn_result home-button">Accueil</button></a>
    </article>
{% endblock %}
